p.comment {
    background-color: blue;
    padding: 5px;
}

#addCommentContainer {
    padding: 10px;
    background-color: #D9F7FF;
    border-radius: 5px 5px 5px 5px;
}
.title-comment {
    text-align: center;
}
.text-comment {
    word-break: break-all;
}
.comment-desc {
    color: #2EB2D9;
    border-bottom: 1px solid #C3E7F1;
}
