.ads-style{
    background-color: #ffffff !important;
    color: #2aabd2 !important;
}

.ads-font{
    font-size: 1.5em;
}

.ads{
    margin-top: 2%;
}

.table-bordered{
    text-align: left;
    width: 700px;
    margin-left: 500px;
    margin-top: 10px;
}

.form-search{
    margin-top: 50px;
    margin-left: 975px;
}
.breadcrumb, .form-inline{
    text-align: right;
}

